<ion-view title="Contanct Information">

    <ion-content class="has-header">

        <div class="list card">

            <a href="" class="item item-icon-left">
                <i class="icon ion-ios7-information"></i>
                BND College Planning Center
            </a>

            <a href="" class="item item-icon-left">
                <i class="icon ion-ios7-telephone"></i>800-554-2717
            </a>

            <a href="" class="item item-icon-left">
                <i class="icon ion-ios7-email"></i>
                bnd@nd.gov
            </a>

            <a href="http://banknd.nd.gov/collegeplanning/index.html" class="item item-icon-left">
                <i class="icon ion-ios7-cloud"></i>
                http://banknd.nd.gov/collegeplanning
            </a>

            <a href="" class="item item-icon-left">
                <i class="icon ion-ios7-home"></i>
                1200 Memorial Hwy
                <br>PO Box 5509
                <br>Bismarck, ND 58506-5509
            </a>

        </div>

    </ion-content>

</ion-view>