<ion-view title="Contanct Information">

  <ion-content class="has-header">
    <ion-list>

      <ion-item type="item-text-wrap">
        BND College Planning Center
      </ion-item>

      <ion-item type="item-text-wrap">
        800-554-2717
      </ion-item>

      <ion-item type="item-text-wrap">
        bnd@nd.gov
      </ion-item>

      <ion-item type="item-text-wrap" href="http://banknd.nd.gov/collegeplanning/index.html">
        http://banknd.nd.gov/collegeplanning/index.html
      </ion-item>

      <ion-item type="item-text-wrap">
        1200 Memorial Hwy
        <br>PO Box 5509
        <br>Bismarck, ND 58506-5509
      </ion-item>

    </ion-list>
  </ion-content>

</ion-view>
