<ion-view title="Planning for College">
    <ion-content class="has-header">

        <div class="list">

            <a class="item item-icon-left" href="#/about">
                <i class="icon ion-information-circled"></i>
                About
            </a>

            <a class="item item-icon-left" href="#/calendar">
                <i class="icon ion-calendar"></i>
                Calendar
            </a>

            <!-- <ion-item type="item-text-wrap" href="#/facebook">
        Facebook
      </ion-item> -->

            <a class="item item-icon-left" href="#/contact">
                <i class="icon ion-android-contact"></i>
                Contact
            </a>

        </div>
    </ion-content>
</ion-view>
