<ion-view title="Planning for College">
  <ion-content class="has-header">
    <ion-list>

      <ion-item type="item-text-wrap" href="#/about">
        About
      </ion-item>

      <ion-item type="item-text-wrap" href="#/calendar">
        Calendar
      </ion-item>

      <!-- <ion-item type="item-text-wrap" href="#/facebook">
        Facebook
      </ion-item> -->

      <ion-item type="item-text-wrap" href="#/contact">
        Contact
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
