.cal-group {
  padding: 8px 0 0 0;
  font-size: 1.1em;
}
.cal-date {
  font-weight: bold;
}
.cal-detail {
  padding: 3px 0 0 15px;
}
.cal-time {
  width: 65px;
  display: block;
  float: left;
}
.cal-title {
  display: block;
  padding-left: 65px;
}
